#loading-bar-left {
  -webkit-animation: loading-bar-morph 2s linear 0.4s infinite;
  animation: loading-bar-morph 2s linear 0.4s infinite;
  transform-origin: center;
  transform: scaleY(10);
  transition: all 0.5s ease-in-out;
}
#loading-bar-middle {
  -webkit-animation: loading-bar-morph 2s linear 0.6s infinite;
  animation: loading-bar-morph 2s linear 0.6s infinite;
  transform-origin: center;
  transform: scaleY(5);
  transition: all 0.5s ease-in-out;
}
#loading-bar-right {
  -webkit-animation: loading-bar-morph 2s linear 0.8s infinite;
  animation: loading-bar-morph 2s linear 0.8s infinite;
  transform-origin: center;
  transform: scaleY(7);
  transition: all 0.5s ease-in-out;
}
#OffMusic {
  transform-origin: center;
  transition: all 0.5s ease-in-out;
}
@-webkit-keyframes loading-bar-morph {
  0% {
    transform: scaleY(10);
  }
  25% {
    transform: scaleY(3);
  }
  50% {
    transform: scaleY(6);
  }
  75% {
    transform: scaleY(1.5);
  }
}
@keyframes loading-bar-morph {
  0% {
    transform: scaleY(10);
  }
  25% {
    transform: scaleY(3);
  }
  50% {
    transform: scaleY(6);
  }
  75% {
    transform: scaleY(1.5);
  }
}
