.ButtonContainer {
  cursor: pointer;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.ButtonText {
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.5s ease-in-out;
}
.ButtonContainer:hover .ButtonPath {
  fill: white;
  fill-opacity: 1;
}
.ButtonContainer:hover .ButtonText {
  color: black;
}
.ButtonPath {
  transform-origin: center;
  fill-opacity: 0;
  fill: white;
  transition: all 0.5s ease-in-out;
}
.ButtonPath path {
  transform-origin: bottom;
}
