.ButtonContainer {
  cursor: pointer;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.ButtonText {
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
