.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1000;
}
.music-div svg {
  position: absolute;
  bottom: 85px;
  right: 100px;
}

.social-link {
  position: absolute;
  bottom: 85px;
  left: 95px;
}
.link-below a {
  margin-bottom: 31px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-below svg,
.link-below span {
  margin-bottom: 71px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerArrow span {
  position: relative;
  margin-bottom: 71px;
}
