.header {
  width: 100%;
  position: fixed;
  z-index: 1000;
}
.search-link {
  position: absolute;
  left: 85px;
  top: 85px;
}
.NavLogo {
  position: absolute;
  width: 30px;
  height: 44.64px;
  top: 65px;
}
.nav-title {
  letter-spacing: 0.18em;
  top: 85px;
  position: absolute;
  color: #ffffff;
  cursor: pointer;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 16px;
}
.title-link {
  top: 85px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.connect-link {
  position: absolute;
  top: 85px;
  right: 90px;
}
.reveal {
  opacity: 1;
}
.reveal.active {
  transition: all 1s ease-in-out;
  position: absolute;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.ConnectIcon {
  display: none;
}
@keyframes fade-bottom {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(-300px);
    opacity: 0;
  }
}
@media screen and (max-width: 430px) {
  .nav-title {
    top: 60px;
  }
  .ConnectIcon {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    right: 30px;
    top: 45px;
  }
  .connect-link {
    display: none;
  }
  .search-link {
    display: none;
  }
}
