.CooprationContainer {
  min-width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.CooprationDiv {
  position: relative;
  justify-content: center;
  display: flex;
  overflow: hidden;
  user-select: none;
  width: 100%;
}

/*  */

.NavArrows {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.LeftArrow {
  position: absolute;
  z-index: 100;
  bottom: 0;
  right: 85%;
  margin-top: 17.5%;
}
.LeftArrow svg {
  cursor: pointer;
}
.RightArrow svg {
  cursor: pointer;
}
.RightArrow {
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 85%;
  margin-top: 17.5%;
}
@media screen and (max-width: 430px) {
  .NavArrows {
    top: 12.5%;
  }
}
