.CooprationCompContainer {
  height: 150vh;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CooprationDot {
  margin-top: 30px;
  margin-bottom: 30px;
}
.CooprationCompTitle {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.33em;
}
.CooprationCompDesc {
  width: 756px;
  margin-top: 30px;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.18em;
}
.CoopButton {
  margin-top: 50px;
}
.CooprationForm {
  width: 756px;
  height: 156px;
}
.InputStroke {
  stroke: white;
}
.CoopForm input {
  color: #fff;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;
  font-size: 9px;
  line-height: 12px;
  letter-spacing: 0.18em;
  border: 0;
  outline: 0;
}
.CoopEmail {
  position: absolute;
  display: flex;
  justify-content: flex-start;
}
.CoopEmail input {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 60px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.CoopSUBJECT {
  position: absolute;
  margin-left: 387px;
}
.CoopSUBJECT input {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 40px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.CoopBRAND {
  position: absolute;
  margin-top: 87px;
}
.CoopBRAND input {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 60px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.CoopMESSAGE {
  position: absolute;
  margin-left: 387px;
  margin-top: 87px;
}
.CoopMESSAGE input {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 40px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.MobileCompany {
  display: none;
}
.MobilePayment {
  display: none;
}
@media screen and (max-width: 430px) {
  .CooprationCompDesc {
    display: none;
  }
  .CooprationCompTitle {
    top: 5%;
    position: absolute;
  }
  .CooprationDot {
    top: 5%;
    position: absolute;
  }
  .ButtonPath {
    bottom: 0;
    position: absolute;
  }
  .CooprationForm {
    width: Hug (369px);
    height: Hug (348px);
    flex-direction: column;
    align-items: flex-start;
    align-self: start;
    justify-content: center;
  }
  .CoopEmail {
    top: 15%;
    left: 3%;
  }
  .CoopSUBJECT {
    right: 3%;
    top: 25%;
  }
  .CoopBRAND {
    left: 3%;
    top: 25%;
  }
  .CoopMESSAGE {
    right: 3%;
    top: 35%;
  }
  .DesktopCompany {
    display: none;
  }
  .MobileCompany {
    display: block;
  }
  .MobilePayment {
    display: block;
  }
  .DesktopPayment {
    display: none;
  }
}
