.ProjectCloud {
  position: absolute;
  width: 501px;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 200;
  background: linear-gradient(90deg, #000000 32.73%, rgba(0, 0, 0, 0) 100%);
}
.ProjectsContainer {
  min-width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.ProjectsItems {
  position: relative;
  justify-content: center;
  display: flex;
  overflow: hidden;
  user-select: none;
  width: 100%;
}
.ProjectsDiv {
  width: 818px;
  height: 516px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}
.ProjectDetails {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ProjectsText {
  color: rgba(107, 107, 107, 1);
}
.ProjectTitle {
  font-size: 12px;
  line-height: 16px;
  color: #ffffff !important;
}
.ProjectImage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 40px;
  transition: all 0.25s ease-in;
}
.ProjectImage:hover {
  transform: scale(1.02);
}
.ProjectsContainer .carousel-container .NavArrows .LeftArrow {
  right: 82.5%;
}
.ProjectsContainer .carousel-container .NavArrows .RightArrow {
  left: 82.5%;
}
@media screen and (max-width: 430px) {
  .ProjectCloud {
    display: none;
  }
  .ProjectsContainer .carousel-container .NavArrows {
    display: none;
  }
  .ProjectsText {
    display: none;
  }
  .ProjectsDiv {
    height: 525px;
    width: 351px;
  }
}
