.ProductsFilter {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  bottom: 55px;
}
.ProductsSection {
  min-width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.ProductsList {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.ProductsFilter {
  color: #fff;
}
.ProductsFilter span {
  cursor: pointer;
}
.Products {
  position: relative;
  display: flex;
  width: 818px;
  height: 516px;
}
.Products:hover .ProductButton,
.Products:hover .ProductText2,
.Products:hover .ProductText4 {
  opacity: 1;
}
.ProductButton {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.69), rgba(0, 0, 0, 0.69));
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 100;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.ProductButton svg:first-child {
  margin-right: -3px;
  cursor: pointer;
}
.Products img {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ProductShadow {
  position: absolute;
  width: 100%;
  height: 143.44px;
  bottom: 0;
  background: rgba(0, 0, 0, 0.69);
  z-index: 100;
}
.ProductText {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  text-align: start;
}
.ProductDescDiv {
  text-align: end;
}
.ProductText span {
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.18em;
  margin-left: 80px;
  margin-right: 80px;
  color: #ffffff;
}
.ProductText2 {
  transition: all 0.5s ease-in;
  opacity: 0;
  position: absolute;
}
.ProductText4 {
  transition: all 0.5s ease-in;
  opacity: 0;
}
.DetailsStroke {
  transition: all 0.5s ease-in;
  color: rgba(0, 0, 0, 0);
}
.DetailsFill {
  transition: all 0.5s ease-in;
  transform-origin: center;
}
.ProductDetails:hover .DetailsStroke {
  fill: white;
}
.ProductDetails:hover .DetailsFill {
  fill: black;
  scale: 1.1;
}
.AddFill {
  transition: all 0.5s ease-in-out;
  transform-origin: center;
}
.ProductAdd:hover .AddFill {
  fill: black;
  scale: 1.1;
}
.ProductAdd:hover .AddStroke {
  fill: white;
}
@media screen and (max-width: 430px) {
  .ProductsSection .carousel-container .NavArrows {
    display: none;
  }
  .Products {
    width: 351px;
    height: 525px;
  }
}
