* {
  overflow: none;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Red Hat Display";
  background: #000000;
  text-transform: uppercase;
  overflow-x: hidden;
}
ul {
  list-style: none;
  text-decoration: none;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: #9b9b9b;
  font-family: "Red Hat Display";
  transition: all 1s ease-out;
  font-size: 11px;
}
a:hover {
  color: #ffffff;
  font-family: "Red Hat Display";
  font-size: 12px;
}
span {
  font-size: 9px;
}