* {
  overflow: none;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Red Hat Display";
  background: #000000;
  text-transform: uppercase;
  overflow-x: hidden;
}
ul {
  list-style: none;
  text-decoration: none;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: #9b9b9b;
  font-family: "Red Hat Display";
  transition: all 1s ease-out;
  font-size: 11px;
}
a:hover {
  color: #ffffff;
  font-family: "Red Hat Display";
  font-size: 12px;
}
span {
  font-size: 9px;
}
.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.834);
  z-index: 1;
}

.spinner {
  width: 64px;
  height: 64px;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}