body {
  font-family: "Red Hat Display";
  background: #000000;
}

a {
  text-decoration: none;
  color: #9b9b9b;
  font-family: "Red Hat Display";
  transition: all 1s ease-out;
  font-size: 11px;
}

a:hover {
  color: #ffffff;
  font-family: "Red Hat Display";
  font-size: 12px;
}

.homePage {
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
